{% extends 'partials/base.html.twig' %}

{% block titlebar %}
    <h1><i class="fa fa-fw fa-bullseye"></i> {{ "PLUGIN_PAGE_COMMERCE_CONTROL.PAGE_CENTRAL"|t }}</h1>
{% endblock %}

{% block content %}
<div>
    <h1>Res d'error!!! </h1>
    <div class="padding">
        <p>
            {{ page.content|raw }}
        </p>
    </div>
</div>
{% endblock %}

{% block footer_section %}
<br /><br /><br />
{% endblock %}
